<style>
    #footer {
        background: black;
        color: #fff;
        text-align: center;
        font-family: Tahoma, Verdana, sans-serif;
        bottom: 0;
        width: 100%;
    }
    #footer p {
        font-style: italic;
        color: #009961;
    }
    .container{
        text-align: center;
    }
    .social-links a {
        display: inline-block;
        background: #009961;
        color: #fff;
        text-align: center;
        transition: 0.3s;
        border-radius: 50%;
        padding: 5px 8px;
        line-height: 1;
    }

    .social-links a:hover {
        background: darkolivegreen;
        color: #fff;
        text-decoration: none;
    }
    .footer_logo{
        height: 2.5em;
    }
</style>

<footer id="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <p class="pt-5">"The city of the stars and the city under the King's towers"</p>
        <div class="social-links pb-4">
            <a href="/" class="twitter btn-link"><i class="fa fa-twitter"></i></a>
            <a href="/" class="facebook btn-link "><i class="fa fa-facebook"></i></a>
            <a href="/" class="instagram btn-link rounded-circle"><i class="fa fa-instagram"></i></a>
            <a href="/" class="google-plus btn-link rounded-circle"><i class="fa fa-skype"></i></a>
            <a href="/" class="linkedin btn-link rounded-circle"><i class="fa fa-linkedin"></i></a>
        </div>
          <span class="mt-3">&copy; Copyright</span><br>
          <img class="footer_logo" th:src="@{images/white-logo.png}" alt="logo">
    </div>
</footer>

