<link rel="stylesheet" href="/css/footerCss.css">
<footer id="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container text-center justify-content-center">
        <p class="pt-5">"The city of the stars and the city under the King's towers"</p>
        <div class="social-links pb-4">
            <a href="/" class="twitter btn-link"><i class="fa fa-twitter"></i></a>
            <a href="/" class="facebook btn-link "><i class="fa fa-facebook"></i></a>
            <a href="/" class="instagram btn-link rounded-circle"><i class="fa fa-instagram"></i></a>
            <a href="/" class="google-plus btn-link rounded-circle"><i class="fa fa-skype"></i></a>
            <a href="/" class="linkedin btn-link rounded-circle"><i class="fa fa-linkedin"></i></a>
        </div>
          <span class="mt-3">&copy; Copyright</span><br>
        <img alt="logo" class="footer_logo" th:src="@{http://localhost:9090/images/white-logo.png}" src="http://localhost:9090/images/white-logo.png">
    </div>
</footer>

