<link rel="stylesheet" href="/css/headerCss.css">

<header id=header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="row w-100" id="wider_row" style="display: none;">
        <div class="col-4">
            <div class="menu_dropdown">
                <div class="title text-center" onclick="f()">
                    <span class="fa fa-bars"></span>
                </div>
                <div class="dropdown_mobile">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/attractions" class="nav-link">Attractions</a>
                    <a href="/routes" class="nav-link">Routes</a>
                    <a href="/famousevents" class="nav-link">Famous Events</a>
                    <a href="/learnMore" class="nav-link">About Strumica</a>
                    <a href="/learnMore?jumpSection=food" class="nav-link">Traditional Food</a>
                    <a class="nav-link" href="/team">Team</a>
                    <div sec:authorize="isAuthenticated()">
                        <a href="/favorite-cart" class="nav-link">Favorites <i class="fa fa-heart-o"></i></a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login" class="nav-link ">Login</a>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <hr>
                        <a href="/attractions/add-form" class="nav-link small">Add Tourist Attraction</a>
                        <a href="/routes/add-form" class="nav-link small">Add Route</a>
                        <a href="/famousevents/add-form" class="nav-link small">Add Famous Event</a>
                        <a href="/register/add-role-to-user" class="nav-link small">Add User To Role</a>
                        <hr>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a href="/logout" class="nav-link">Logout</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row w-100" id="smaller_row" style="display: none;">
        <div class="col-12 text-center">
            <img alt="logo" id="logo1" th:src="@{http://localhost:9090/images/white-logo.png}" src="http://localhost:9090/images/white-logo.png">
        </div>
    </div>


    <div class="row w-100 " id="default_row">
        <div class="col-3">
            <img alt="logo" id="logo" th:src="@{http://localhost:9090/images/white-logo.png}" src="http://localhost:9090/images/white-logo.png" class="float-left">
        </div>
        <div class="col-6 menu-column mt-3">
            <ul class="menu pl-0">
                <li>
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="/attractions" class="nav-link">Attractions</a>
                </li>
                <li>
                    <a href="/routes" class="nav-link">Routes</a>
                </li>
                <li class="drop-down">
                    <a href="#" class="nav-link">Culture</a>
                    <ul>
                        <li><a href="/learnMore" class="nav-link">About Strumica</a></li>
                        <li><a href="/learnMore?jumpSection=food" class="nav-link">Traditional Food</a></li>
                        <li><a href="/famousevents" class="nav-link">Famous Events</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/favorite-cart" class="nav-link">Favorites <i class="fa fa-heart-o"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-3 mt-3 pl-0">
            <li class="CssLogin" sec:authorize="!isAuthenticated()">
                <a href="/login" class="nav-link logging_buttons">
                    <i class="fa fa-user-circle-o"></i> Login
                </a>
            </li>

            <li id="logoutDropdown" sec:authorize="isAuthenticated()" class="drop-down CssLogin">
                <a href="#" class="nav-link logging_buttons">
                    <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"/>
                </a>
                <ul class="text-center">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="p-0 m-0">
                        <ul class="p-0 m-0">
                            <li><a href="/attractions/add-form">Add Tourist Attraction</a></li>
                            <li class="mt-1"><a href="/routes/add-form">Add Route</a></li>
                            <li class="mt-1"><a href="/famousevents/add-form">Add Famous Event</a></li>
                            <li class="mt-1"><a href="/register/add-role-to-user">Add User To Role</a></li>
                        </ul>
                    </div>
                    <hr>
                    <li class="text-center"><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </div>
    </div>

</header>
<script src="/js/changeMenuHeader.js"></script>