body{
    background-image: url('../images/sr_background_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.submit_btn {
    background-color: #F8F8F8;
    color: #009961;
}
.back_btn {
    background-color: lightgrey;
    color: black;
    border: 1px solid dimgray;
}

.back_btn:hover {
    text-decoration: none;
    color: black;
}

.bgContainer {
    background:rgba(0, 153, 97, 0.5);
    box-shadow: 10px 10px 30px grey;
    border-radius: 5px;
}

.relativeContainer {
    position: relative;
    top: 3vh;
}