
.widget {
    width:100%;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
}
.chart-container{
    padding:10px;
    background: white;
    box-shadow: none;
}