body{
    background-image: url('http://localhost:9090/images/sr_background_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.back_btn{
    background-color: #009961;
    color: white;
    margin: auto;
    width: 200px;
}
.back_btn:hover{
    color: white;
    text-decoration: none;
}
.innerContainer{
    background: rgba(255,255,255,0.5);
}