#footer {
    background: black;
    color: #fff;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    bottom: 0;
    width: 100%;
}
#footer p {
    font-style: italic;
    color: #009961;
}
.social-links a {
    display: inline-block;
    background: #009961;
    color: #fff;
    text-align: center;
    transition: 0.3s;
    border-radius: 50%;
    padding: 5px 8px;
    line-height: 1;
}
.social-links a:hover {
    background: darkolivegreen;
    color: #fff;
    text-decoration: none;
}
.footer_logo{
    height: 2.5em;
}