body{
    background-image: url('../images/sr_background_login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formColumn{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid darkgray;
    border-radius: 5px;
}
#rememberMe{
    float: left;
}
#login_form{
    color: #009961;
}
#submit{
    background-color: #009961;
    color: white;
}