body{
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg");
    background-size: cover;
}
.likeButton{
    background-color: white;
    border: 1px solid #009961;
    color: #009961;
}
.horizontal_line_card{
    background: linear-gradient(.25turn,#009961, black, #009961);
    height:1.5px;
}
.likeButton:hover{
    text-decoration: none;
    color: #009961;
}
.routeContainer:hover{
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transform: scale(1.02);
    transition: 0.3s;
}
.detailsButton{
    background-color: #009961;
    color: white;
}
.detailsButton:hover{
    text-decoration: none;
}