body{
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg");
    background-size: cover;
}
a{
    color: #009961;
}
#filterRow{
    height: fit-content;
}

.attractionContainer {
    width: 300px;
    height: 300px;
    top:0; right: 0; left: 0; bottom: 0;
    margin: auto;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.overlay {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, .9);
    color: white;
    opacity: 0;
    transition: all 0.5s;
}
.items {
    padding-left: 20px;
    letter-spacing: 3px;
}
.head {
    font-size: 30px;
    transform: translateY(20px);
    transition: all 0.7s;
}
.lineInAttractionCard {
    display: block;
    width: 0;
    border-bottom: solid 2px white;
    bottom: 0;
    transition: all .5s;
}
.attractionCardButtonsDiv{
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.attractionContainer:hover .overlay {
    height: 100%;
    opacity: 1;
}
.attractionContainer:hover .head {
    transform: translateY(0px);
}

.attractionContainer:hover .lineInAttractionCard {
    width: 80%;
    transition-delay: 0.4s;
}
.attractionCardButtonsDiv {
    transform: translateY(0px);
    transition-delay: 0.5s;
    opacity: 1;
}
.attractionHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    height: 20%;
    font-size: 1.8vw;
    background-color: #F8F8F8;
    color: black;
}
.attractionContainer:hover .attractionHeader{
    opacity: 0;
}
.heart_icon{
    color: #009961;
}
.detailsBtn{
    color: white;
    background-color: #009961;
}
.detailsBtn:hover{
    text-decoration: none;
}


.pagination{
    margin: auto;
    width: fit-content;
}
.page-link{
    color: black;
}
.page-link:hover{
    text-decoration: none;
    color: black;
}