<div xmlns:th="http://www.thymeleaf.org">
    <div class="container mt-5 mb-5">
        <div class="bgContainer text-white mr-5 ml-5 pt-3 pb-5 pr-5 pl-5" style="background: #009961; box-shadow: 10px 10px 30px grey">
            <h3 class="text-center display-4" style="color:antiquewhite">Create Tour</h3>
            <hr style="background: linear-gradient(.25turn,darkolivegreen, #e86f00, darkolivegreen);border:0; height:3px;" />
            <div class="w3-container w3-animate-zoom">
                <div form-horizontal mt-4>
                    <form th:method="POST" th:action="@{/routes/save/{id} (id=${route?.id})}">
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-3 text-right" for="name">Name</label>
                            <div class="col-6">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       name="name"
                                       th:value="(${route} != null ? ${route.getName()} : '')"
                                       required
                                       placeholder="Enter attraction name">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-3 text-right"  for="description">Description</label>
                            <div class="col-6">
                                <input type="text"
                                       class="form-control"
                                       id="description"
                                       name="description"
                                       th:value="(${route} != null ? ${route.getDescription()} : '')"
                                       placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-3 text-right"  for="duration">Duration</label>
                            <div class="col-6">
                                <input type="text"
                                       class="form-control"
                                       id="duration"
                                       name="duration"
                                       th:value="(${route} != null ? ${route.getDuration()} : '')"
                                       placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-3 text-right"  for="attractionsIds">Tourist Attractions</label>
                            <div class="col-6">
                            <select name="attractionsIds" class="form-control" multiple="multiple">
                                <option
                                        th:each="attraction : ${attractions}"
                                        th:value="${attraction.getId()}"
                                        th:text="${attraction.getName()}">
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <div  class="col-12 text-center">
                                <button id="submit" type="submit" class="btn btn-success  btn-lg">Submit</button>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <a type="button" class="btn btn-lg  btn-link" style="color: white" href="/routes" >Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
