<head>
    <link rel="stylesheet" href="/css/indexCss.css">
    <link rel="stylesheet" href="/css/addPageCss.css">
</head>
<body>
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container mt-5 mb-5 relativeContainer">
        <div class="bgContainer text-white mr-5 ml-5 mt-4 p-3">
            <h3 class="text-center display-4">Create Tour</h3>
            <hr class="horizontal_line"/>
            <div class="w3-container w3-animate-zoom">
                <div class="form-horizontal mt-4">
                    <form th:method="POST" th:action="@{/routes/save/{id} (id=${route?.id})}">
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-4 text-right" for="name">Name</label>
                            <div class="col-8">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       name="name"
                                       th:value="(${route} != null ? ${route.getName()} : '')"
                                       required
                                       placeholder="Enter attraction name">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-4 text-right"  for="description">Description</label>
                            <div class="col-8">
                                <input type="text"
                                       class="form-control"
                                       id="description"
                                       name="description"
                                       th:value="(${route} != null ? ${route.getDescription()} : '')"
                                       placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-4 text-right"  for="duration">Duration</label>
                            <div class="col-8">
                                <input type="text"
                                       class="form-control"
                                       id="duration"
                                       name="duration"
                                       th:value="(${route} != null ? ${route.getDuration()} : '')"
                                       placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-4 text-right" for="image">Image URL</label>
                            <div class="col-8">
                                <input type="text"
                                       class="form-control"
                                       id="image"
                                       name="image"
                                       th:value="(${route} != null ? ${route.getImage()} : '')"
                                       placeholder="Image URL">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="control-label col-4 text-right" for="attractionsIds">Tourist Attractions</label>
                            <div class="col-8">
                            <select name="attractionsIds" id="attractionsIds" class="form-control" multiple="multiple">
                                <option
                                        th:each="attraction : ${attractions}"
                                        th:value="${attraction.getId()}"
                                        th:text="${attraction.getName()}">
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group row justify-content-end">
                            <div  class="col-8 text-left">
                                <button id="submit" type="submit" class="btn btn-lg submit_btn">Submit</button>
                                <a type="button" class="btn btn-lg btn-link back_btn" href="/routes">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/changeLogo.js"></script>

</th:block>
</body>

