<div class="container mt-5 mb-5 " xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="bgContainer text-white mr-5 ml-5 pt-3 pb-5 pr-5 pl-5" style="background: #009961; box-shadow: 10px 10px 30px grey">
        <h3 class="text-center display-4" style="color:antiquewhite">Details for <th:block th:text="${attraction.getName()}"></th:block></h3>
        <hr style="background: linear-gradient(.25turn,darkolivegreen, #e86f00, darkolivegreen);border:0; height:3px;" />
        <div class="w3-container w3-animate-zoom">
            <!--------------------- СЛИКИ------------------------------>
            <div class="row">
                <div class="col-12 text-center">
                    <!------ Тука провери ако има и втора слика внесено стави га до првата у иста колона ваљда добро ќее ----->
                    <img th:src="${attraction.getPictures()}" style="width:400px; height:300px;" />
                </div>
            </div>
            <!--------------------- ИНФОРМАЦИИ ------------------------------>
            <div class="row mt-3 justify-content-center">
                <div class="col-6 text-right border-right pr-2">
                    <dl>
                        <dt style="color:white">Location:</dt>
                        <dd th:text="${attraction.getLocation()}"></dd>
                        <dt style="color:white;">Description:</dt>
                        <dd th:text="${attraction.getDescription()}"></dd>
                    </dl>
                </div>
            </div>
            <!--------------------- КОПЧИЊА------------------------------>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <a href="/attractions" class="btn btn-link btn-md text-white" style="background-color:darkolivegreen">All Attractions</a>
                    <a th:href="@{/attractions/{id}/edit-form (id=${attraction.id})}" class="btn btn-link btn-md text-white ml-2" style="background-color:darkgoldenrod" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
                      <div><br/></div>
                        <form th:method="DELETE" th:action="@{/attractions/{id}/delete (id=${attraction.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Delete</button>
                        </form>
                </div>
            </div>
<!--            ZA REVIEWS TUKA-->
            <div class="mt-5">
                <th:block>
                    <form th:method="POST" th:action="@{/attractions/{id}/add-review (id=${attraction.id})}">
                       <span>Comment: </span> <input type="text" name="comment" id="comment">
                       <span> Grade: </span>
                            <select name="grade" id="grade">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        <button type="submit" class="btn btn-success btn-md text-white ml-2 btn-danger">Submit</button>
                    </form>
                    <th:block th:if="${reviews!=null}">
                    <div th:each="review:${reviews}">
                        <th:block th:text="${review.getUser().getUsername()}"></th:block>
                        <span>: </span>
                        <th:block th:text="${review.getComment()}"></th:block>
                        <span> Grade:</span>
                        <th:block th:text="${review.getGrade()}"></th:block>
                        <th:block th:if="${review.getUser().getUsername().equals(#request.getRemoteUser())}">
                        <form th:method="DELETE" th:action="@{/attractions/{id}/delete-review (id=${review.id})}">
                            <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Delete</button>
                            <input type="hidden" th:value="${attraction.getId}" name="attractionId">
                        </form>
                        </th:block>
                        <form th:method="DELETE" th:action="@{/attractions/{id}/delete-review (id=${review.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <span>Ovoj delete se pokazuva samo ako si admin </span>
                            <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Admin Delete</button>
                            <input type="hidden" th:value="${attraction.getId}" name="attractionId">
                        </form>
                    </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>