<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/errorPageCss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body xmlns="http://www.w3.org/1999/xhtml" class="text-center">
    <img alt="logo" id="logo"  src="http://localhost:9090/images/white-logo.png">
    <div class="container mt-5 mb-3">
        <div class="container rounded innerContainer text-center p-5">
            <h2 class="text-center">Sorry, the page you are trying to reach is not available.</h2>
            <hr class="horizontal_line mt-3 mb-3">
            <p class="text-center">Click the button bellow to go back to the home page.</p>
            <a href="/" class="btn btn-link btn-lg btn-dark text-white back_btn">Go Back</a>
        </div>
    </div>
</body>
</html>