<head  xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/favoriteCartCss.css">
    <link rel="stylesheet" href="/css/indexCss.css">
</head>
<body class="text-dark">
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="topDiv">
        <hr class="mt-5 horizontal_line" />
    </div>
    <div class="container mt-5 mb-5">
        <div class="w3-container w3-animate-zoom">
            <div class="mt-5">
                <h2>Your favorite cart</h2>
            </div>
            <div th:if="${hasError}" class="mt-2">
                <h5 class="text-center text-danger" th:text="${error}"></h5>
            </div>
            <div class="mt-5" th:if="${routes!=null && routes.size()>0}">
                <h2>Routes</h2>
            </div>
            <div class="row mt-4" th:if="${routes!=null && routes.size()>0}" >
                <table class="table table-light table-hover">
                    <thead>
                    <tr style="color: #009961">
                        <th scope="col">Name</th>
                        <th scope="col">Places</th>
                        <th scope="col">Duration</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="route:${routes}">
                        <th scope="row" th:text="${route.getName()}"></th>
                        <td>
                            <th:block th:each="attraction:${route.getTouristAttractions()}">
                                <th:block th:text="${attraction.getName()}"></th:block>
                                <span>-></span>
                            </th:block>
                            end
                        </td>
                        <td>
                            <span th:text="${route.getDuration()}" class="d-inline"></span> hours
                        </td>
                        <td>
                            <form th:method="DELETE" th:action="@{/favorite-cart/{id}/remove-route (id=${route.getId()})}">
                                <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5" th:if="${attractions!=null && attractions.size()>0}">
                <h2>Attractions</h2>
            </div>
            <div class="row mt-4"th:if="${attractions!=null && attractions.size()>0}" >
                <table class="table table-light table-hover">
                    <thead>
                    <tr style="color: #009961">
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attraction:${attractions}">
                        <th scope="row" th:text="${attraction.getName()}"></th>
                        <td  th:text="${attraction.getLocation()}"></td>
                        <td  th:text="${attraction.getType().toString()}"></td>
                        <td>
                            <form th:method="DELETE" th:action="@{/favorite-cart/{id}/remove-attr (id=${attraction.getId()})}">
                                <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="/js/changeLogo.js"></script>
</th:block>
</body>