<head>
<style>
    body{
        background-image: url("https://www.chromethemer.com/download/hd-wallpapers/white-out-3840x2160.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .formColumn{
        background: rgba(255, 255, 255, 0.8);
        border: 2px solid darkgray;
        border-radius: 5px;
    }
</style>
</head>
<body>
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="container mt-5 " style="margin-bottom: 300px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 formColumn">
                <form  method="post" action="/login" class="mt-5">
                    <h2 class="text-center" style="color: #009961">Login</h2>
                    <div class="form-group mt-5">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
                    </div>
                    <div class="form-group mt-2">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div th:if="${hasErrors}">
                        <div th:text="${error}" class="text-danger"></div>
                    </div>
                    <div th:text="${param.error}" class="text-danger"></div>
                    <p style="color: #009961">
                        <input type="checkbox" name="remember_me" id="remember_me" class="">
                        <label for="remember_me">Remember me!</label>
                    </p>
                    <button class="btn btn-lg btn-success btn-block mb-5" id="submit" type="submit" >Login</button>
                    <a href="/register" class="btn btn-block btn-light" style="color: #009961">Don't have an account? Register here!</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>