<style>
    body{
        background-image: url("https://cdn2.f-cdn.com/contestentries/1490804/32875450/5cbfd5e38fc30_thumb900.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .formColumn{
        background: rgba(255, 255, 255, 0.8);
        border: 2px solid darkgray;
        border-radius: 5px;
    }
</style>
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="container mt-5 " style="margin-bottom: 300px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 formColumn">
    <form class="form-signin mt-xl-5" method="post" action="/register">
        <h2 class="form-signin-heading" style="color: cornflowerblue">Register</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <p>
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required="" autofocus="">
        </p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="role" type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN">
            <label class="form-check-label" for="ROLE_ADMIN">ROLE_ADMIN</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="role"  type="radio" id="ROLE_USER" value="ROLE_USER">
            <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="/login" class="btn btn-block btn-light" style="color: cornflowerblue">Already have an account? Login here!</a>
</div>
</div>
</div>
</div>