<head>
    <link rel="stylesheet" href="/css/detailsCss.css">
    <link rel="stylesheet" href="/css/indexCss.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://mbostock.github.com/d3/d3.js?2.1.3"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>
<body xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" class="text-dark">
<th:block>
    <div class="topDiv">
        <hr class="mt-5 horizontal_line" />
    </div>
    <div class="container mt-5 mb-5 ">
        <div class="w3-container w3-animate-zoom">
            <div class="row bg-light p-2 rowContainer">
                <div class="col-12 col-md-6">
                    <div class="fotorama" data-minwidth="100%" data-nav="thumbs" data-autoplay="true" data-fit="cover" data-swipe="true">
                        <img th:src="${route.getImage()}" alt="TourImage"/>
                        <img th:each="attraction:${attractions}" th:src="${attraction.getMainPicture()}">
                    </div>
                </div>
                <div class="col-12 col-md-6 text-left">
                    <div class="row">
                        <div class="col-8">
                            <p th:text="${route.getName()}" id="placeName" class="pb-0"></p>
                            <span class="small text-muted pt-0"><th:block th:text="${#lists.size(reviews)}"></th:block> reviews</span>
                            <span class="small text-muted pt-0"><th:block th:text="${route.getLikes()}"></th:block> likes</span>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <form th:method="POST" sec:authorize="isAuthenticated()"
                                  th:action="@{/favorite-cart/{id}/routeAdd (id=${route.id})}">
                                <button class="btn btn-sm text-dark btn-light"><i class="fa fa-heart heart_icon"></i></button>
                            </form>
                            <form>
                                <button class="btn btn-sm text-dark btn-light"><i class="fa fa-share"></i></button>
                            </form>
                        </div>
                    </div>
                    <span class="font-weight-bold d-inline">Duration: </span><span class="d-inline" th:text="${route.getDuration()}"></span><span class="d-inline"> hours</span><br>
                    <span class="d-inline font-weight-bold">Places: </span><span class="d-inline" th:each="attraction:${route.getTouristAttractions()}">

                    <th:block th:text="${attraction.getName()}"></th:block> </span><br>
                    <span class="small text-muted">*Duration is calculated for driving with a car and 40 minutes stops in each place.</span>

                    <p th:text="${route.getDescription()}" class="mt-5"></p>

                    <div class="mt-5">
                        <a href="/routes" class="btn text-white back_btn d-inline">All Routes</a>
                        <a th:href="@{/routes/{id}/edit-form (id=${route.id})}" class="btn text-white bg-dark d-inline" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
                        <form th:method="DELETE" th:action="@{/routes/{id}/delete (id=${route.id})}" sec:authorize="hasRole('ROLE_ADMIN')" class="d-inline">
                            <button type="submit" class="btn text-white bg-dark btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-md-6 mt-3">
                    <div class="pl-3 pt-3 pr-3 bg-light rowContainer">
                        <th:block sec:authorize="isAuthenticated()" class="bg-light">
                            <h4 class="text-left">Add a review</h4>
                            <hr>
                            <form th:method="POST" th:action="@{/routes/{id}/add-review (id=${route.id})}">
                                <textarea type="text" name="comment" id="coment" class="form-control" placeholder="Write your comment here..."></textarea>
                                <span class="d-inline float-left">Rate:</span>
                                <ul id="listOfStars" class="d-inline pl-1">
                                    <li class="starList">
                                        <input type='radio' value='1' name='grade' id='radio1' class="rateInput"/>
                                        <label for='radio1' class="rateLabel" onclick="rate(1)" id="star1">&star;</label>
                                    </li>
                                    <li class="starList">
                                        <input type='radio' value='2' name='grade'  id='radio2' class="rateInput"/>
                                        <label for='radio2' class="rateLabel" onclick="rate(2)" id="star2">&star;</label>
                                    </li>
                                    <li class="starList">
                                        <input type='radio' value='3' name='grade'  id='radio3' class="rateInput"/>
                                        <label for='radio3' class="rateLabel" onclick="rate(3)" id="star3">&star;</label>
                                    </li>
                                    <li class="starList">
                                        <input type='radio' value='4' name='grade'  id='radio4' class="rateInput"/>
                                        <label for='radio4' class="rateLabel" onclick="rate(4)" id="star4">&star;</label>
                                    </li>
                                    <li class="starList">
                                        <input type='radio' value='5' name='grade'  id='radio5' class="rateInput"/>
                                        <label for='radio5' class="rateLabel" onclick="rate(5)" id="star5">&star;</label>
                                    </li>
                                </ul>
                                <button type="submit" class="btn btn-success text-white d-inline mt-2 float-right submitReview">Submit</button>
                            </form>
                        </th:block>

                        <th:block th:if="${reviews!=null}">
                            <h2 class="text-left mt-2">Reviews</h2>
                            <hr>
                            <div th:each="review:${reviews}" class="media pl-2 pr-3">

                                <div class="media-body text-left">
                                    <h5 th:text="${review.getUser().getUsername()}" class="d-inline font-weight-bold"></h5><span class="d-inline small"> on </span><span class="d-inline small" th:text="${review.getDate()}"></span>
                                    <br>
                                    <span th:text="${review.getGrade()}" style="display: none;" class="hiddenGrade"></span>
                                    <span class="insertGrade"></span>
                                    <p th:text="${review.getComment()}"></p>
                                </div>

                                <th:block th:if="${review.getUser().getUsername().equals(#request.getRemoteUser())}">
                                    <form th:method="DELETE" th:action="@{/routes/{id}/delete-review (id=${review.id})}">
                                        <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Delete</button>
                                        <input type="hidden" th:value="${route.getId}" name="routeId">
                                    </form>
                                </th:block>
                                <form th:method="DELETE" th:action="@{/routes/{id}/delete-review (id=${review.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <button type="submit" class="btn btn-link btn-md text-white ml-2 btn-danger">Admin Delete</button>
                                    <input type="hidden" th:value="${route.getId}" name="routeId">
                                </form>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3 header">
                    <div class="pl-3 pt-3 pr-3 pb-3 bg-light rowContainer">
                        <div id="chart-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script src="/js/rating.js"></script>
<script src="/js/pieReviewRoutes.js"></script>
<script src="/js/changeLogo.js"></script>
<script>
    var size1=[[${sizeOf1}]];
    var size2=[[${sizeOf2}]];
    var size3=[[${sizeOf3}]];
    var size4=[[${sizeOf4}]];
    var size5=[[${sizeOf5}]];

    const data=[{
        label: "Grade 1",
        value: size1
    },{
        label: "Grade 2",
        value: size2
    },{
        label: "Grade 3",
        value: size3
    },{
        label: "Grade 4",
        value: size4
    },{
        label: "Grade 5",
        value: size5
    }];
    const Config = {
        type: "pie2d",
        renderAt: "chart-container",
        width: "100%",
        height: "400",
        dataFormat: "json",
        dataSource: {
            chart: {
                caption: "Grades",
                subCaption: "What people say about this route",
                xAxisName: "Grade",
                yAxisName: "%",
                theme: "fusion"
            },
            data: data
        }
    };
    FusionCharts.ready(function(){
        var fusioncharts = new FusionCharts(Config);
        fusioncharts.render();
    });
</script>

</body>