<head>
    <link rel="stylesheet" href="/css/indexCss.css">
    <link rel="stylesheet" href="/css/teamCss.css">
</head>
<body>
<th:block  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="topDiv">
        <hr class="mt-5 horizontal_line" />
    </div>
    <div class="container text-center text-dark mt-5 mb-5">
        <div class="mt-5">
            <h1 class="h1 font-weight-light">Our Team</h1>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 col-md-6 mb-2">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid"  th:src="@{images/mz.jpg}" alt="image"></p>
                                    <h4 class="card-title">Marija Zimbakovska</h4>
                                    <p class="card-text">CSE student searching for WEB DEVELOPMENT Intership.</p>
                                    <small class="text-muted">Hover to learn more about me</small>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Marija Zimbakovska</h4>
                                    <p class="card-text">
                                        Hi, my name is Marija and I'm one of the members of this team. My interests are focused on Web Development and as a soon to be Bachelor of Computer Science and Engineering,
                                        I can proudly say that I've developed some good working characteristic throughout the years. My biggest strenghts are my
                                        dedication and flexibility to changes. My ability to work under presure is also something that I've achieved in the past years.
                                        I'm a team-worker and someone who easily gets along with people, always going with a positive mindset.

                                    </p>
                                    <div class="list-inline">
                                        <div class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/marija.zimbakovska">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/marija-zimbakovska-6167a61b5/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"  th:src="@{images/mitko-cv.jpg}" alt="card image"></p>
                                    <h4 class="card-title">Mitko Belmezov</h4>
                                    <p class="card-text">CSE student searching for WEB DEVELOPMENT Intership.</p>
                                    <small class="text-muted">Hover to learn more about me</small>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Mitko Belmezov</h4>
                                    <p class="card-text">I'm in my last year of studies towards a bachelor's in Computer Sciences and Engineering. I am a hardworking
                                        and ambitious individual, responsible, organized and ready for teamwork, Always curious and ready for a
                                        challenge. I am eager to be challenged in order to grow and further improve my IT skills.
                                    </p>
                                    <div class="list-inline">
                                        <div class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/mitkobelmezovv/">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/mitko-belmezov-a734ba1b3/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<script src="/js/changeLogo.js"></script>
</body>