<head>
    <title></title>
    <link rel="stylesheet" href="/css/touristAttractionCss.css">
    <link rel="stylesheet" href="/css/indexCss.css">
</head>
<body>
<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="topDiv">
        <hr class="mt-5 horizontal_line" />
    </div>
    <div class="container mt-5 mb-5">
        <div class="mt-5">
            <h1 class="h1" >Tourist Attractions</h1>
            <a th:href="@{/attractions/export/pdf}">PDF list of Attractions</a>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="searchbar">
                    <form>
                        <input class="search_input" type="search" name="nameSearch" placeholder="Search for a place">
                        <button class="search_icon"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-2" id="filterRow">
              <form id="typeSearchForm" th:each="type:${attractionTypes}" class="col-4 col-md-3 col-lg-2 mb-1">
                <input type="hidden" style="display: none" name="typeSearch" th:value="${type}"/>
                <button  class="btn rounded-pill thingsToDoBtn" th:text="${type.toString()}"></button>
              </form>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-md-6 col-lg-4 mt-3" th:each="attraction, iStat : ${touristAttractionPage.content}">
                <div class="attractionContainer"
                     th:style="'background:url('+ ${attraction.getMainPicture()} +'); background-size: 100% 100%;'">
                    <div class="overlay">
                        <div></div>
                        <div class="items head">
                            <p th:text="${attraction.getName()}"></p>
                            <hr class="lineInAttractionCard">
                        </div>
                        <div class = "items">
                            <p th:text="${attraction.getLocation()}"></p>
                        </div>
                        <div class="items attractionCardButtonsDiv">
                            <span>
                                <a class="btn btn-link text-white float-left detailsBtn" th:href="@{/attractions/{id}/details (id=${attraction.getId()})}">Details</a>
                                <form th:method="POST" sec:authorize="isAuthenticated()" th:action="@{/favorite-cart/{id}/attractionAdd (id=${attraction.id})}">
                                        <button class="btn text-dark btn-light float-right mr-3">Save <i class="fa fa-heart heart_icon"></i></button>
                                </form>
                            </span>
                        </div>
                    </div>
                    <div class="attractionHeader text-muted"><span th:text="${attraction.getName()}"></span></div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 text-center">
                <nav aria-label="Page navigation">
                    <ul th:if="${touristAttractionPage.totalPages > 0}" class="pagination text-center">
                        <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                            <a class="page-link" th:href="@{/attractions(size=${touristAttractionPage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</th:block>
<script src="/js/changeLogo.js" ></script>
</body>
